.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

h1 {
    color: red;
}

#myCanvas {
    border-width: 10px;
    border-style: ridge;
    background-color: white;
}